{% extends "counter/base.html" %}
{% block content %}
<form class="form-style" method="POST">
    {% csrf_token %}
    <label for="food">Enter your meal: </label><br>
    <input name="food" id="food"class="form-input" type="text" placeholder="Pizza " required><br>

    <label for="calories">Enter the amount of calories: </label><br>
    <input name="calories" id="calories" class="form-input" type="text" placeholder="(Numbers only)" required><br>
    
    <input type="submit" value="Save Entry"> 
</form>
<table>
    <thead>
        <tr>
            <th colspan="2"> Data</th>
        </tr>
        <tr>
            <th>Food</th>
            <th>Calories</th>
        </tr>
    </thead>
    <tbody>

        {% for food in food_list %}
        
        <tr>
            <td>{{food}}</td>
            <td>{{food.calories}}</td>
        </tr>
        {% endfor %}
        
    </tbody>
</table>
{% endblock %}