{% extends "counter/base.html" %}
{% block content %}
<form class="form-style">
    <label for="food">Enter your meal: </label><br>
    <input name="food" id="food"class="form-input" type="text" placeholder="Pizza "><br>
    <label for="calories">Enter the amount of calories: </label><br>
    <input name="calories" id="calories" class="form-input" type="text" placeholder="(Numbers only)"><br>
    <input type="submit" value="Save Entry"> 
</form>
<table>
    <thead>
        <tr>
            <th colspan="2">{{author}}</th>
        </tr>
        <tr>
            <th>Food</th>
            <th>Calories</th>
        </tr>
    </thead>
    <tbody>
        {% firstof "0" as sum %}

        {% for food in food_list %}
        
        <tr>
            <td>{{food}}</td>
            <td>{{food.calories}}</td>
        </tr>
        
        {% endfor %}
        
        <tr>
            <td>Total:</td>
            <td>{{sum}}</td>
        </tr>
    </tbody>
</table>
{% endblock %}